body {
    margin: 0%;
    padding: 0%;
    background-color: red;
}

#titulo {
    text-align: center;
    font-size: 50px;
    color: white;
    margin: 20px auto;
    width: 100%;
    float: left;
}
#nav{
    float: left;
    margin-right: 1%;
    width: 19%;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

#conteudo{
    float: left;
    width: 10%;
    color: white;
    margin-left: 30%
}
#deadpool {
    background-color: black;
    width: 30%;
    color: red;
    float: inline-end;
    text-align: center;
    margin-top: 10%;
    border-radius: 10px
}

#homemaranha {
    background-color: blue;
    width: 30%;
    color: black;
    text-align: center;
    float:inline-end;
    margin-top: 4%;
    border-radius: 10px
}

#batman {
    background-color: gray;
    width: 30%;
    color:black;
    float: inline-end;
    text-align: center;
    margin-top: 1%;
    border-radius: 10px
}
#imgdeadpool{
    width: 400px;
    height: 400px;
    background-size: contain;
}
